@import "tailwindcss";

@theme {
  --color-red: #ef233c;
  --color-navy: #0f2842;
  --color-gray-light: #f1f1f1;
  --color-gray-dark: #7d7d7d;
  --color-gray-border: #e2e8f0;
  
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-inter);
}

@layer base {
  body {
    @apply font-body text-gray-700 antialiased bg-white;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight text-navy;
  }
}
